%footer.navbar.footer
  .footer-container
    %span.list-item.col-sm-3
      = link_to "SpaceX", root_path
    .copyright.footer-menu-list-nav.col-sm-5
      ©
      = Time.zone.now.year
      IF-097.Ruby.
      &nbsp
      = link_to "Terms of Service & Privacy Policy. ", "#", class: "rights"
      &nbsp
      All Rights Reserved.
    %ul.footer-menu-list-community.col-sm-3.ul
      %li.list-item Subscribe Us:
      %li.list-item
        = image_tag "twitter.png", class: "logo"
      %li.list-item
        = image_tag "facebook.png", class: "logo"
      %li.list-item
        = image_tag "instagram.png", class: "logo"