%header.navbar.navbar-expand-lg.fixed-top
  = link_to root_path do
    .logo-motto
      = image_tag  "logo-pic.png", class: "logo-pic"
      %span SpaceX
  %nav.collapse.navbar-collapse
    %ul.navbar-nav.offset-md-2
      %li
        = link_to "Pricing", "#", class: "nav-link"
      %li
        = link_to "About", "#", class: "nav-link"
      %li
        = link_to "Contact Us", "#", class: "nav-link"
  .header-join
    = link_to "Join", new_user_registration_path, class: "header-join-sign-up"
    .text-white
      or
    = link_to "Log In", new_user_session_path, class: "header-join-log-in"
