.col-xl-6.col-12
  .box-content
    %h4.box-title Users
    / /.box-title
    %table.table.table-striped.margin-bottom-10
      %thead
        %tr
          %th{ style: "width:40%;" } Name
          %th E-mail
          %th Options
          %th{ style: "text-align: center" } Status
      %tbody
      - @users.each do |user|
        %tr
          %td 
            - if user.role == 'admin'
              #{user.first_name} 
              %strong (admin)
            - else
              = user.first_name
          %td 
            = user.email
          %td
            - if user.role == 'member' 
              = link_to "Delete", account_user_path(user), method: :delete, data: {confirm: "Are you sure?"}
          %td{ style: "text-align: center" }
            - if user.invitation_accepted?
              %p
                accepted &#10004;
            - elsif user.role == 'admin'
            - else
              %p
                waiting &#x2716;
  .container               
    = render 'account/users/form'