#wrapper
  .main-content
    .row.small-spacing
      .col-md-3.col-xs-12
        .box-content.bordered.primary.margin-bottom-20
          .profile-avatar
            %img{:alt => "", :src => "http://placehold.it/450x450"}/
            %h3
              %strong.user_name
                #{current_user.first_name + " " + current_user.last_name}
          / .profile-avatar
        / /.box-content bordered
      / /.col-md-3 col-xs-12
      .col-md-9.col-xs-12
        .row
          .col-xs-12
            .box-content.card
              %h4.box-title
                %i.fa.fa-user.ico>
                About
              / /.box-title
              .card-content
                .row
                  .col-md-6
                    .row
                      .col-xs-5
                        %label First Name:
                      / /.col-xs-5
                      .col-xs-7 #{current_user.first_name}
                      / /.col-xs-7
                    / /.row
                  / /.col-md-6
                  .col-md-6
                    .row
                      .col-xs-5
                        %label Last Name:
                      / /.col-xs-5
                      .col-xs-7 #{current_user.last_name}
                      / /.col-xs-7
                    / /.row
                  / /.col-md-6
                  .col-md-6
                    .row
                      .col-xs-5
                        %label User Name:
                      / /.col-xs-5
                      .col-xs-7 #{current_user.first_name + " " + current_user.last_name}
                      / /.col-xs-7
                    / /.row
                  / /.col-md-6
                  .col-md-6
                    .row
                      .col-xs-5
                        %label Email:
                      / /.col-xs-5
                      .col-xs-7 #{current_user.email}
                      / /.col-xs-7
                  .col-md-6
                    .row
                      .col-xs-5
                        %a{:href => "#{edit_account_user_path(current_user.id)}"}
                          %label Edit
                      / /.col-xs-5
                      / /.col-xs-7
                    / /.row
                  / /.col-md-6
                  .col-md-6
                  / /.col-md-6
                  .col-md-6
                  / /.col-md-6
                  .col-md-6
                  / /.col-md-6
                / /.row
              / /.card-content
            / /.box-content card
          / /.col-md-12
      / /.col-md-9 col-xs-12
    / /.row small-spacing
  / /.main-content
/ /#wrapper