%section#contact
  .container
    .section-header
      %h2 Contact Us
      %p Do you have a question? Contact the Vip App team to request any further details or information.
    .row.contact-info
      .col-md-4
        .contact-address
          %h3 Address
          %address Korolya Danyla Street, IF 76000, Ukraine
      .col-md-4
        .contact-phone
          %h3 Phone Number
          %p
            %a{:href => "tel:+155895548855"} +1 5589 55488 55
      .col-md-4
        .contact-email
          %h3 Email
          %p
            %a{:href => "mailto:info@example.com"} info@example.com
  .container.mb-4
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "380", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22864.11283411948!2d-73.96468908098944!3d40.630720240038435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sbg!4v1540447494452", :style => "border:0", :width => "100%"}
  .container
    .form
      = simple_form_for @contact, :html => {:class => 'contactForm' } do |f|
        = f.input :name, placeholder: 'Name', :required => true
        = f.input :email, placeholder: 'Email', :required => true
        = f.input :message, placeholder: 'Message', :as => :text, :required => false, :input_html => {:rows => 10}
        .text-center
          = f.button :submit, 'Send message', :class=> "btn btn-primary"


