.col-xl-6.col-12
  .box-content
    %h4.box-title Devices
    / /.box-title
    %table.table.table-striped.margin-bottom-10
      %thead
        %tr
          %th{:style => "width:40%;"} Name
          %th Type
          %th{:style => "width:20%;"} Options          
      %tbody
      - @device.each do |device|
        %tr
          %td 
            = device.name
          %td 
            = device.device_type           
          %td
            = link_to "Edit", edit_account_device_path(device)
            &nbsp;&nbsp;
            = link_to "Delete", account_device_path(device), method: :delete, data: {confirm: "Are you sure?"}
  = link_to 'Create device', new_account_device_path, class: "btn btn-primary waves-effect waves-light" 
