.container-group-form
  %h1 Device groups
  %table.table
    %thead
      %tr
        %th #
        %th Name
    %tbody
      - @device_groups.each_with_index do |device_group, i|
        %tr
          %th{:scope => "row"} #{i+1}
          %td
            = device_group.name
          %td.edit-block
            = link_to "Edit", edit_account_device_group_path(device_group)
          %td.delete-block
            = link_to "Delete", account_device_group_path(device_group), method: :delete, data: {confirm: "Are you sure?"}
  .text-center
    = link_to 'Create', new_account_device_group_path, class: "device-group-button-submit btn btn-success btn-lg" 