%body
  .main-menu
    %header.header
      %a.logo{:href => "index.html"}
        %i.ico.ti-rocket>
        SpaceX
      %button.button-close.fa.fa-times.js__menu_close{:type => "button"}
    / /.header
    .content
      .navigation
        %a{:href => "#{account_profile_path}"}
          - if current_user.avatar.attached?
            %img.mini-avatar{ src: "#{url_for(current_user.avatar)}"}
          - else
            %img.mini-user-icon{ src: "https://cdn1.iconfinder.com/data/icons/rcons-user-action/512/user-512.png"}
        Hello, #{current_user.first_name}!      
        %h5.title Navigation
        / /.title
        %ul.menu.js__accordion
          %li
            %a.waves-effect{:href => "#{account_root_path}"}
              %i.menu-icon.ti-dashboard
              %span Dashboard
          %li
            %a.waves-effect{:href => "#{account_profile_path}"}
              %i.menu-icon.ti-user
              %span Profile


      / /.navigation
    / /.content
  / /.main-menu
